/* Style for the chat bot container */
#box {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    background-color: rgba(255 , 255, 255, 0.575);
    border-radius: 10px;
    max-height: 55vh;
    overflow: scroll;
}
#box::-webkit-scrollbar{
    display: none;
}
#heading{
    position: absolute;
    left: 40%;
    font-weight: 70px;
    font-family: 'Nanum Gothic', sans-serif; 
}
body{
    background-image: url("https://images.pexels.com/photos/763097/pexels-photo-763097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    font-family: 'Nanum Gothic', sans-serif; 
}
/* Style for user input form */
#form {
    width: 50vw; /* Adjust width based on button and emoji width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10vh;
    left: 23vw;
    background-color: rgba(255 , 255, 255, 0.575);
}
#form::placeholder{
    color: white;
}
/* Style for submit button */
#submit {
    width: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.575);
    color: black;
    border: 4px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 11vh;
    right:13vw;
    transition: 0.5s ease-in;
}
#submit:hover{
    border: none;
    background: #03f40f;
            color: #fff;
            border-radius: 2px;
            box-shadow: 0 0 2px #03f40f,
                0 0 10px #03f40f,
                0 0 10px #03f40f,
                0 0 20px #03f40f;
        }


#activeUser {
    position: absolute;
    width: 170px; 
    padding: 10px;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: transparent;
}


/* Style for messages */
.message-container {
    max-width: 80%;
    margin-bottom: 10px;
}

/* Style for received messages */
#received-message {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    margin: 10px;
    text-align: center;
    max-width: 300px;
    word-wrap: break-word; /* Allow word wrapping */
    display: block; /* Display as inline-block to fit content width */
    position: relative;
    right:  0px;
    left: 600px;
    box-shadow: 4px 3px 4px rgba(255, 255, 255, 1),
    -4px 2px 15px rgba(0, 0, 0, 1);
}


/* Style for sent messages */
#sent-message {
    background-color: transparent;
    display: block;
    box-shadow: 4px 2px 3px rgba(0, 0, 0, 1),
    -4px 2px 15px rgba(0, 0, 0, 1);
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    word-wrap: break-word;
    text-align: center;
    position: relative;
    left: 0px;
    margin: 10px;
    right: 600px;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.h{
    text-align: center;
    font-size: 100px;
    background: url("https://images.pexels.com/photos/7130537/pexels-photo-7130537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") 50% 50%;
    font-weight: 100px;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}