<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            color: white;
        }
        video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* vh unit stands for viewport height */
  z-index: -1; 
  transform: scale(1.2);/* This makes the iframe appear behind other content */
}

    </style>
</head>
<body>
    <h1>anime recommendation list</h1>
<video src="/static/asset/vid.mp4" autoplay muted loop></video>    
<form action="\anime" method="post">
        <label for="search">Search by name</label>
        <input type="search" name="search" id="search"> <br>
        {% for i in range(5) %} 
        {{ useranime[i] }} <br>
        <button type="submit" name="anime" value="{{ useranime[i][2] }} id="anime{{ i }}"">Add to List</button> <br> {% endfor %}
    </form>
     {% if ans %}
     <h2>Search results</h2>
     <h3>Name: {{ans[1]}}</h3>
    <h3>Genre:  {{ans[2]}}</h3>
    <h3>Type: {{ans[3]}}</h3>
    <h3>Episodes: {{ans[4]}}</h3>
    <h3>Rating: {{ans[5]}}</h3>
    <h3>More info: <a href="https://myanimelist.net/anime/{{ans[0]}}" target="_blank">More info on myanimelist</a> </h3>
    <h3>Watch online: <a href="https://www.crunchyroll.com/search?q={{ans[1]}}" target="_blank">Watch online on crunchyroll</a> </h3>
    {% if imo %}
    <h3>Watch online for free: <a href="https://animesuge.to/filter?keyword={{ans[1]}}" target="_blank">Animesuge</a> </h3>
    {% endif %}
    {% endif %}
    <h2>recommendation based on your tastes</h2>
    {% if recomend %}
    {% for i in range(5) %} 
     {{ recomlst[i] }} <br> {% endfor %}
    {% endif %}
</body>
</html>