<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>anime recommendation list</h1>
    <form action="\anime" method="post">
        <label for="search">Search by name</label>
        <input type="search" name="search" id="search">
    </form>
    {% for i in range(5) %} 
     {{ useranime[i] }} <br> {% endfor %}
     {% if ans %}
     <h2>Search results</h2>
     <h3>Name: {{ans[1]}}</h3>
    <h3>Genre:  {{ans[2]}}</h3>
    <h3>Type: {{ans[3]}}</h3>
    <h3>Episodes: {{ans[5]}}</h3>
    <h3>Rating: {{ans[6]}}</h3>
    <h3>More info: <a href="https://myanimelist.net/anime/{{ans[0]}}" target="_blank">More info on myanimelist</a> </h3>
    <h3>Watch online: <a href="https://www.crunchyroll.com/search?q={{ans[1]}}" target="_blank">Watch online on crunchyroll</a> </h3>
    {% endif %}

</body>
</html>