<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/translate" method="post">
        <label for="text"> Type text</label>
        <input type="text" id="text" name="text">
        <label for="lang"> Type language</label>
        <input type="lang" id="lang" name="lang">
        <input type="submit" value="submit">
    </form>
    <div>translated text</div>
    {{detected}} detected
    {{text}}
</body>
</html>